@charset "UTF-8";


.insert_confirmed_wrapper{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.confirm_update_wrapper{
    width: 90%;
    margin: 100px auto;
    text-align: center;
  }
table {
	margin: 2em auto;
	padding: 0;
	border-collapse: collapse;
	width: 90%;
	margin: auto;
}

thead {
	background-color: #7ac2ff;
	text-align: left;
}

tr *{
	padding: 0.5em 1em 0.5em 1em;
	width: auto;
	text-align: left;
}
tbody tr:nth-child(even) td {
	background-color: #dff0ff;
}